<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login - CyberCrate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='product_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Homepage.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    {% extends "index.html" %}
    {% block content %}

    <!-- Product listings -->
    <div class="products">
        <div class="category active">
            <div class="product-card">
                <a href="{{ url_for('product.get_products_by_category', id=1) }}">
                    <img src="{{ url_for('static', filename='/images/spoon.jpg') }}" alt="Spoon">
                </a>
            </div>
        </div>

        <div class="category active">
            <div class="product-card">
                <a href="{{ url_for('product.get_products_by_category', id=2) }}">
                    <img src="{{ url_for('static', filename='/images/pan.jpg') }}" alt="Pan">
                </a>
            </div>
        </div>

        <div class="category active">
            <div class="product-card">
                <a href="{{ url_for('product.get_products_by_category', id=3) }}">
                    <img src="{{ url_for('static', filename='/images/plates.jpg') }}" alt="Plate">
                </a>
            </div>
        </div>

        <div class="category active">
            <div class="product-card">
                <a href="{{ url_for('product.get_products_by_category', id=4) }}">
                    <img src="{{ url_for('static', filename='/images/bowl.jpg') }}" alt="Bowl">
                </a>
            </div>
        </div>
    </div>

    </div>

    <!-- Tabs container -->
<div class="store-tabs">
    <button class="store-tab active" id="store-tab-1">Store A</button>
    <button class="store-tab" id="store-tab-2">Store B</button>
</div>

<!-- Product listings -->
<div class="products">
    <!-- Product cards go here -->
</div>
{% endblock %}
</body>
</html>




